#allProducts, #button {
  background-color: #FF99C1; }

/* RESETEO */
* {
  margin: 0%;
  padding: 0%;
  scrollbar-width: thin;
  scrollbar-color: #04BAD8 #F2FF8D; }
  *::selection {
    background-color: #04BAD8;
    color: #F2FF8D; }
  *::-moz-selection {
    background-color: #04BAD8;
    color: #F2FF8D; }
  *::-webkit-scrollbar {
    width: 12px; }
  *::-webkit-scrollbar-track {
    background: #F2FF8D; }
  *::-webkit-scrollbar-thumb {
    background-color: #04BAD8;
    border-radius: 20px; }

html {
  width: 100%;
  overflow-x: hidden; }

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
  padding-right: 0 !important;
  cursor: url("../assets/cursor.png"), auto; }
  body:active {
    cursor: url("../assets/cursorHover.png"), auto; }

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
  height: fit-content;
  height: 100%; }

a {
  text-decoration: none;
  color: #393838; }
  a:hover {
    color: #393838; }

li {
  list-style-type: none; }

a, button {
  cursor: url("../assets/cursorHover.png"), auto !important; }
  a:hover, button:hover {
    cursor: url("../assets/cursorHover.png"), auto; }

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: url(../assets/background.svg);
  background-repeat: repeat;
  background-size: contain;
  background-size: 10%;
  padding: 2%; }

.menu {
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .menu a {
    background-color: rgba(238, 238, 234, 0.3);
    font-size: 1.8vw; }

#logo {
  text-align: center;
  padding: 1%;
  border-style: dashed;
  border-radius: 15px;
  background: linear-gradient(120deg, rgba(242, 255, 141, 0.8) 12%, rgba(255, 153, 193, 0.8) 34%, rgba(191, 158, 236, 0.8) 68%, rgba(4, 186, 216, 0.8) 90%);
  backdrop-filter: blur(1px);
  color: #393838;
  font-family: "Inconsolata", monospace;
  font-weight: bolder;
  font-size: 3vw; }
  #logo:hover {
    background: linear-gradient(120deg, #F2FF8D 12%, #FF99C1 34%, #BF9EEC 68%, #04BAD8 90%); }

.iconos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  width: 18vw; }
  .iconos input {
    border-radius: 5px;
    border: 2px dashed #393838;
    width: 70%; }
    .iconos input:focus::placeholder {
      color: transparent; }
  .iconos i {
    color: #393838;
    font-size: 1.5vw;
    background-color: rgba(255, 255, 255, 0.9); }

main {
  background-color: #BF9EEC;
  display: flex;
  align-items: center; }

#allProducts {
  margin: 2% 0;
  padding: 0.5% 1%;
  color: #F2FF8D;
  font-size: 1.5vw;
  font-weight: bold;
  border-radius: 10px;
  display: block;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  border: 3px dashed #393838;
  z-index: 1;
  transition: all 0.3s ease;
  position: relative; }
  #allProducts::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #04BAD8;
    border-radius: 10px;
    transition: all 0.3s ease; }
  #allProducts:hover::after {
    left: 0;
    width: 100%; }

#productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 2% 0; }

.producto {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
  border: dashed #F2FF8D;
  padding: 0.5%;
  border-radius: 15px; }
  .producto img {
    width: 100%;
    border-radius: 15px 15px 0 0; }
  .producto p {
    padding: 1% 0;
    margin: 0;
    width: 100%;
    font-size: 1.3vw;
    text-align: center;
    background-color: #04BAD8;
    color: #F2FF8D; }
    .producto p:nth-child(2) {
      font-weight: bolder; }
  .producto button {
    width: 100%;
    border: none;
    border-radius: 0 0 15px 15px;
    background-color: #FF99C1;
    color: #F2FF8D;
    padding: 2% 5%;
    font-size: 1.2vw; }

#categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 1% 0; }

.categoria {
  position: relative;
  width: 40%;
  animation-duration: 1s;
  margin-top: 3%; }
  .categoria img {
    width: 100%;
    border-radius: 25px;
    border: 3px dashed #F2FF8D;
    padding: 1%;
    position: relative; }
  .categoria p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F2FF8D;
    font-weight: bold;
    font-size: 5.5vw;
    color: #04BAD8;
    -webkit-text-stroke: 1px #F2FF8D;
    text-transform: uppercase; }
  .categoria:hover {
    transform: scale(1.05, 1.05);
    transition: all 0.5s; }

/* FOOTER */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.5em;
  padding: 2% 5%;
  height: fit-content;
  background-color: #04BAD8; }
  footer::selection {
    background-color: #BF9EEC;
    color: #FF99C1; }
  footer::-moz-selection {
    background-color: #04BAD8;
    color: #F2FF8D; }
  @media screen and (max-width: 1200px) {
    footer {
      font-size: 1em; } }
  @media screen and (max-width: 850px) {
    footer {
      padding-bottom: 5%; } }
  @media screen and (max-width: 550px) {
    footer {
      flex-direction: column;
      padding: 2% 0 5% 0;
      width: 100%;
      align-items: center; } }

.footerRight {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .footerRight p {
    margin: 1%;
    border-top: #EEEEEA solid;
    color: #EEEEEA;
    padding: 3% 0 0 2%;
    width: 100%; }
    @media screen and (max-width: 550px) {
      .footerRight p {
        display: none; } }
    .footerRight p a {
      color: #EEEEEA;
      font-weight: bold; }
      .footerRight p a:hover, .footerRight p a:focus {
        color: #F2FF8D; }
  @media screen and (max-width: 550px) {
    .footerRight {
      width: 100%; } }

.footerNav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 1% 5%;
  width: 100%; }
  .footerNav li {
    color: #EEEEEA; }
  @media screen and (max-width: 550px) {
    .footerNav {
      flex-direction: column;
      align-items: center;
      padding: 2% 0;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
      width: 100%;
      justify-content: space-between;
      margin: 0; } }

.footerNav a,
.footerNav li {
  padding: 2%;
  color: #EEEEEA; }
  .footerNav a:hover, .footerNav a:focus,
  .footerNav li:hover,
  .footerNav li:focus {
    color: #F2FF8D; }

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 18%;
  margin: 0; }
  .socials li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%; }
    @media screen and (max-width: 550px) {
      .socials li {
        width: auto;
        padding: 3% 5%; } }
    .socials li a {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      color: #EEEEEA;
      width: 100%;
      text-align: center; }
      .socials li a:hover, .socials li a:focus {
        color: #F2FF8D; }
  .socials i {
    font-size: 1.5em; }
  .socials p {
    align-self: center;
    padding-left: 7%;
    justify-self: center;
    margin: 0; }
    @media screen and (max-width: 550px) {
      .socials p {
        display: none; } }
  @media screen and (max-width: 850px) {
    .socials {
      width: 27.5%; } }
  @media screen and (max-width: 550px) {
    .socials {
      width: 100%;
      flex-direction: row;
      justify-content: center;
      padding: 0; } }

.parrafoMobile {
  display: none; }
  .parrafoMobile a {
    color: #EEEEEA;
    font-weight: bold; }
    .parrafoMobile a:hover, .parrafoMobile a:focus {
      color: #F2FF8D; }
  @media screen and (max-width: 550px) {
    .parrafoMobile {
      display: block;
      margin: 1%;
      border-top: #EEEEEA solid;
      color: #EEEEEA;
      padding: 2% 0 0 2%;
      text-align: center;
      width: 90%; } }

/* CONTACTO */
.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 0;
  width: 100%;
  height: 100%; }
  .contact h2 {
    color: #F2FF8D;
    font-size: 3em;
    padding-bottom: 2%; }
  .contact form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: #F2FF8D;
    font-size: 2em; }
  @media screen and (max-width: 850px) {
    .contact {
      padding: 5% 0; } }
  @media screen and (max-width: 550px) {
    .contact {
      font-size: 0.8em;
      padding-bottom: 5%;
      width: 100%; } }

.contactForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 80%; }

#button {
  margin-top: 2%;
  padding: 1%;
  color: #F2FF8D;
  font-size: 1em;
  border-radius: 5px;
  height: 10%;
  display: block;
  width: 30%;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  border: 3px dashed #393838;
  z-index: 1;
  transition: all 0.3s ease;
  position: relative; }
  #button::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #04BAD8;
    border-radius: 5px;
    transition: all 0.3s ease; }
  #button:hover::after {
    left: 0;
    width: 100%; }
  @media screen and (max-width: 550px) {
    #button {
      width: 40%; } }

#cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2% 0; }

.productoCart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 1% 0;
  border: dashed #F2FF8D;
  padding: 0.5%;
  border-radius: 15px; }
  .productoCart img {
    width: 10%;
    border-radius: 15px 0 0 15px; }
  .productoCart p {
    margin: 0;
    font-size: 1.5vw;
    background-color: #04BAD8;
    width: 30%;
    text-align: center;
    height: max-content;
    color: #F2FF8D;
    padding: 3.35%; }
    .productoCart p:nth-child(2) {
      font-weight: bolder;
      width: 40%; }
  .productoCart button {
    border: none;
    background-color: #FF99C1;
    color: #F2FF8D;
    font-size: 1.5vw;
    padding: 3.35%;
    border-radius: 0 10px 10px 0;
    width: 20%; }

#cleanCart {
  border: dashed #393838;
  padding: 0.5% 1%;
  margin-bottom: 3%;
  font-size: 1.5vw;
  background-color: #FF99C1;
  color: #F2FF8D; }
