header{
  @include flex(flex, wrap, null, space-between, center);
  background-image: url(../assets/background.svg);
  background-repeat: repeat;
  background-size: contain;
  background-size: 10%;
  padding: 1% 2%;
  position: sticky;
  top: 0;
  z-index: 3;
}

.menu{
  width: 40vw;
  @include flex(flex, wrap, null, space-between, center);

  a {
    background-color: transparentize($blanco, 0.7);
    font-size: 1.8vw;
  }
}

#logo {
  text-align: map-get($textos, textAlign);
  padding: 1%;
  border-style: dashed;
  border-radius: 15px;
  background: linear-gradient(120deg, rgba(242,255,141,0.8) 12%, rgba(255,153,193,0.8) 34%, rgba(191,158,236,0.8) 68%, rgba(4,186,216,0.8) 90%);
  backdrop-filter: blur(1px);
  color: map-get($textos, color);
  font-family: $serif;
  font-weight: bolder;
  font-size: 2.5vw;

  &:hover {
    background: linear-gradient(120deg, $amarillo 12%, $rosado 34%, $violeta 68%, $turquesa 90%);
  }
}

.iconos {
  @include flex(flex, wrap, null, space-between ,center);
  align-self: flex-start;
  width: 20vw;

  input{
    border-radius: 5px;
    border: 2px dashed $negro;
    width: 100%;

    &:focus::placeholder {
      color: transparent;
    }
  }

  i{
    color: $negro;
    font-size: 2vw;
    background-color: transparentize(white, 0.1);
  }
}

#divBuscador{
  position: relative;
  width: 70%;

  &::-webkit-scrollbar {
    width: 0;
  }
}

#divLista{
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 52vh;
  overflow-y: scroll;
  margin-top: 2%;
  border-radius: 15px;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.divCarta, .buscadorVacio{
  width: 100%;
  margin-bottom: 0 !important;
  background-color: $amarillo;
  color: $negro;
  border-bottom: $negro;
  border-radius: 0;
}

.buscadorVacio {
  @include flex(flex, null, null, center, center);

  p {
    margin: 0;
    width: 90%;
    font-size: 1.5vw;
    text-align: center;
  }

  i {
    background-color: $amarillo;
    font-size: 1.3vw;
  }
}

.cardBodyContainer{
  @include flex(flex, null, column, center, flex-start);
}

.cardBody{
  padding: 0;
  padding-left: 10%;
  flex: 0;

  h5{
    font-size: 1.2vw;
    font-weight: bold;
    margin-bottom: 0;
  }

  p{
    font-size: 1vw;
  }
}

.items{
  background-color: $rosado;
  color: $amarillo;
  font-weight: bold;
  font-size: 0.9vw;
  font-family: $serif;
}