main {
    background-color: $violeta;
    @include flex(flex, null, column, null, center);
    overflow-x: hidden;
    flex: 1;
}

body.swal2-shown > [aria-hidden="true"] {
    transition: 0.001s filter;
    filter: blur(10px);
  }

#allProducts {
    margin: 2% 0;
    padding: 0.5% 1%;
    @extend %rosado;
    color: $amarillo;
    font-size: 0.7em;
    font-weight: bold;
    border-radius: 10px;
    display: block;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border: 3px solid $negro;
    z-index: 1;
    transition: all 0.3s ease;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background-color: $turquesa;
        border-radius: 5px;
        transition: all 0.3s ease;
      }
    
      &:hover::after {
        left: 0;
        width: 100%;
      }
}

#productos {
    @include flex(flex, wrap, null, space-between, null);
    width: 90%;
    margin: 2% 0;

    @media screen and(max-width:850px) {
        justify-content: space-around;
      }
}

.producto {
    width: 20%;
    @include flex(flex, null, column, center, center);
    margin: 2%;
    border: dashed $amarillo;
    padding: 0.5%;
    border-radius: 15px;

    img {
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

    p{
        padding: 1% 0;
        margin: 0;
        width: 100%;
        font-size: 1.2vw;
        text-align: center;
        background-color: $turquesa;
        color: $amarillo;

        &:nth-child(2) {
            font-weight: bolder;
        }

        @media screen and(max-width:850px) {
            font-size: 0.8em;
          }
    }

    button {
        width: 100%;
        border: none;
        border-radius: 0 0 15px 15px;
        background-color: $rosado;
        color: $amarillo;
        padding: 2% 5%;
        font-size: 1.2vw;

        @media screen and(max-width:850px) {
            font-size: 0.8em;
          }
    }

    @media screen and(max-width:850px) {
        width: 25%;
    }

    @media screen and(max-width:550px) {
        width: 40%;
    }
}

#categorias {
    @include flex(flex, wrap, null, space-around, null);
    width: 90%;
    margin: 1% 0;
}

.categoria {
    position: relative;
    width: 40%;
    animation-duration: 1s;
    margin-top: 3%;

    img {
        width: 100%;
        border-radius: 25px;
        border: 3px dashed $amarillo;
        padding: 1%;
        position: relative;
    }

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $amarillo;
        font-weight: bold;
        font-size: 5.5vw;
        color: $turquesa;
        -webkit-text-stroke: 1px $amarillo;
        text-transform: uppercase;
    }

    &:hover {
        transform: scale(1.05, 1.05);
        transition: all 0.5s;
    }

    @media screen and(max-width:550px) {
        width: 100%;
      }
}

.toastPersonalizado{
    background-color: $amarillo;
    color: $turquesa;
    font-weight: bold;
    font-size: 1.2vw;
    text-align: center;
    border-radius: 15px;
    border: dashed $negro;
}

.divSelects {
    @include flex(flex, wrap, row, space-between, center);
    margin-top: 3%;
    width: 88%;

    @media screen and(max-width:850px) {
        flex-direction: column;
        align-items: flex-start;
      }
}

.divFiltro, .divOrdenar {
    @include flex(flex, wrap, row, flex-start, center);
    padding: 1%;
    width: 50%;
    p {
        width: fit-content;
        margin: 0;
        font-weight: bold;
        color: $amarillo;
        padding-right: 2%;
        display: inline-block;
    }

    select {
        color: $amarillo;
        background-color: $rosado;
        text-align: center;
        padding: 2% 1%;
        box-shadow: 0 2px 2px $negro;
        border-color: $rosado;
    }

    @media screen and(max-width:850px) {
       width: 100%; 
    }
}

.divOrdenar{
    justify-content: flex-end;

    @media screen and(max-width:850px) {
        justify-content: flex-start;
    }
}
